// Variables
$website-width: 1280px;
$main-color: #16b197;
$light-color: #ccc;
$dark-color: #333;
$medium-color: #aaa;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}